<div class="parent">
    <div class="blockMySignUp">
        <div> 
        <div *ngIf="isError()" class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-8" style="color:red;">{{errText}}</div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="label control-label col-sm-6">Логин:</label>
                    <div class="col-sm-5">
                        <input [(ngModel)]="userSignUpData.loginName" type="text" class="inp-w100" style="color:blue;"/>
                    </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="label control-label col-sm-6">Пароль:</label>
                    <div class="col-sm-5">
                        <input [(ngModel)]="userSignUpData.password" type="password" class="inp-w100" style="color:blue;"/>
                    </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="label control-label col-sm-6">Имя:</label>
                    <div class="col-sm-5">
                        <input [(ngModel)]="userSignUpData.name" type="text" class="inp-w100" style="color:blue;"/>
                    </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="label control-label col-sm-6">Фамилия:</label>
                    <div class="col-sm-5">
                        <input [(ngModel)]="userSignUpData.lastName" type="text" class="inp-w100" style="color:blue;"/>
                    </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="label control-label col-sm-6">email:</label>
                    <div class="col-sm-5">
                        <input [(ngModel)]="userSignUpData.email" type="text" class="inp-w100" style="color:blue;"/>
                    </div>
            </div>
        </div>
        <div class="form-group">
        	<div class="col-sm-4"></div><br>
        	<div class="col-sm-8" style="padding-top: 5%;"><button class="btn-success" (click)="signUp()">Зарегистрироваться</button></div>
        </div>
        </div>
    </div>
</div>