<div class="nav nav-pills" role="tablist">
<nav class="navbar top-menu-color navbar-fixed-top" role="navigation">
    <div class="container-fluid container-fluid-default">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/materials" routerLinkActive="active">
                
                <span class="navbar-brand-title"><img class="navbar-brand-logo" src="img/kartinka.png" alt=""/>BMSS</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul *ngIf="isLoggedIn()" class="nav navbar-nav navbar-nav-main">
                <li>
                    <a routerLink="/materials" routerLinkActive="active"><span style="color: #f0f0f0;">Материалы</span><br><p class="invis-row">1</p></a>
                </li>
                <li>
                    <a routerLink="/materials/build" routerLinkActive="active">
                        <span>Строительные<br/>материалы</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/researchObjects" routerLinkActive="active">
                        <span>Объект<br/>исселедования</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/spectrs" routerLinkActive="active">
                        <span>Спектр<br><p class="invis-row">1</p></span>
                    </a>
                </li>
				<li>
                    <a routerLink="/spectrs/etalon" routerLinkActive="active">
                        <span>Эталонный<br/>спектр</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/creation" routerLinkActive="active">
                        <span>Добаление<br/>данных</span>
                    </a>
                </li>
            </ul>
            <div *ngIf="isLoggedIn()" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle inherit-bgcolor" data-toggle="dropdown" style="height: 70px;" >
                        <span class="glyphicon glyphicon-user" style=" padding-top: inherit;"></span>
                        <strong>{{getUserLogin()}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size" ></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{getUserFio()}}</strong></p>
                                        <p class="text-left small">{{getEmail()}}</p>
                                        <p class="text-left">
                                            <a routerLink="/user/edit" routerLinkActive="active" class="btn btn-primary btn-block btn-sm">Редактировать</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a (click)="logOut()">Выйти<span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                    </ul>
                </li>
            </div>
        </div><!-- /.navbar-collapse -->
        
    </div><!-- /.container-fluid -->
</nav>
</div>