<div class="nav nav-pills" role="tablist">
<nav class="navbar top-menu-color navbar-fixed-top" role="navigation">
    <div class="container-fluid container-fluid-default">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/materials" routerLinkActive="active">
                
                <span class="navbar-brand-title"><img class="navbar-brand-logo" src="img/kartinka.png" alt=""/>НАЗВАНИЕ ПРОЕКТА</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul *ngIf="isLoggedIn()" class="nav navbar-nav navbar-nav-main">
                <li>
                    <a routerLink="/materials" routerLinkActive="active"><span style="color: #f0f0f0;">Материалы</span><br><p class="invis-row">1</p></a>
                </li>
                <li>
                    <a routerLink="/materials/build" routerLinkActive="active">
                        <span>Строительные<br/>материалы</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/researchObjects" routerLinkActive="active">
                        <span>Объект<br/>исселедования</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/spectrs" routerLinkActive="active">
                        <span>Спектр<br><p class="invis-row">1</p></span>
                    </a>
                </li>
				<li>
                    <a routerLink="/spectrs/etalon" routerLinkActive="active">
                        <span>Эталонный<br/>спектр</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/creation" routerLinkActive="active">
                        <span>Добаление<br/>данных</span>
                    </a>
                </li>
            </ul>
            <div *ngIf="isLoggedIn()" class="nav navbar-nav navbar-right notification">
                <span><button class="btn-success navbar-btn" (click)="logOut()">Выйти</button></span>
            </div>
        </div><!-- /.navbar-collapse -->
        
    </div><!-- /.container-fluid -->
</nav>
</div>